{% extends 'base.html' %}
{% block title %} Articles {% endblock %}

{% block content %}

        <h1 class="test"> Liste de nos articles</h1>    
        <div class="article-container">
            <div class="article-row">
                {% for article in articles %}
                    <div class="article-card">
                        <div class="article-card-body">
                            <h5 class="article-card-title"><a href="{% url 'detail' article.id %}">{{ article.titre }}</a></h5>
                            {% if article.image %}                            
                            <img src="{{ article.image.url }}" alt="{{ article.titre }}" class="article-image"/>
                            {% endif %}
                            
                            <p class="article-card-text">
                                Auteur(s) :
                                {% for auteur in article.auteur.all %}
                                    {{ auteur.prenom }} {{ auteur.nom }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="article-card-text">Date de publication : {{ article.date_publication }}</p>


                            {% if perms.article.Peut_Modifier_Article %}
                                <a href="{% url 'modifier_article' article.id %}" class="article-btn">Modifier l'article</a>
                            {% else %}
                                <p>Vous n'avez pas la permission de modifier cet article.</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}